

header
{
text-align: center;
background-color: #579c87;
color:#fdcb46;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
header h1
{
    font-size: 4em;
    
}



img
{
    height: 750px;
    
}

.menu
{
    display:flex;
    justify-content: center;
    margin: 70px;
    
}
.menu-1b
{
margin: 50px;
}
.menu-2b
{
    margin: 50px;
}
.menu-3b
{
    margin: 50px;
}
.menu-4b
{
    margin: 50px;
}
.pro
{
    display:flex;
    justify-content: center;
}
.proch
{

    background-color: #579c87;
    text-align: center;
    margin-bottom: 60px;
    padding: 20px;
    width: 300px;
    border-radius: 15px;

}

.proch a
{
    font-size: 2em;
    text-decoration: none;
    color:#fdcb46
}

footer
{
    height: 150px;
    background-color: #579c87;
    display: flex; 
    justify-content: space-between;
    align-items:center;
    
    
}

footer div
{
    color: #fdcb46;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px; 
}