header
{
text-align: center;
background-color: #579c87;
color:#fdcb46;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
header h1
{
    font-size: 4em;
    
}

footer
{
    height: 150px;
    background-color: #579c87;
    display: flex; 
    justify-content: space-between;
    align-items:center;
    
    
}

footer div
{
    color: #fdcb46;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px; 
}